NODE_ENV=production
LOG_LEVEL=1  # [0: 'warn', 1: 'error', 2: 'log', 3: 'verbose', 4: 'debug'],
POLLING_INTERVAL=2

HOSTNAME=hip.local
HOSTNAME_SCHEME=https

NC_DATA_FOLDER=/mnt/nextcloud-dp/nextcloud
NC_APP_FOLDER=/mnt/nextcloud-dp/nextcloud/apps
SOCIAL_APP_FOLDER=/mnt/nextcloud-dp/nextcloud/custom_apps/sociallogin
PRIVATE_FILESYSTEM=/mnt/nextcloud-dp/nextcloud/data

GATEWAY_API=https://hip.local/api/v1
GATEWAY_REVERSE_PROXY=127.0.0.1:4000
# FRONTEND_REVERSE_PROXY=hip.local:3000 # for frontend dev

REMOTE_APP_API=https://hip.local:9001/api
REMOTE_APP_BASIC_AUTH=Basic xxx

PRIVATE_FS_URL=https://hip.local:3444
PRIVATE_FS_AUTH_BACKEND_URL=https://hip.local/fs

COLLAB_REMOTE_APP_API=https://gpu.hip.local/api
COLLAB_REMOTE_APP_BASIC_AUTH=Basic xxx

COLLAB_FS_URL=collab.local:3444
COLLAB_FS_AUTH_BACKEND_URL=https://collab.local:4443/fs

COLLAB_FILESYSTEM=/mnt/nextcloud-dp/nextcloud/data/__groupfolders
COLLAB_SSH_HOST=collab.local
COLLAB_SSH_USER=hipadmin
COLLAB_AUTHBACKEND_USERNAME=xxx
COLLAB_AUTHBACKEND_PASSWORD=xxx
COLLAB_FS_AUTH_BACKEND_URL=https://collab.local:4443/fs
COLLAB_FS_URL=collab.local:3444
COLLAB_DOCKERFS_CERT=''

EBRAINS_CLIENT_URL=https://iam-int.ebrains.eu/auth/realms/hbp/protocol/openid-connect/token
EBRAINS_CLIENT_ID=service
EBRAINS_CLIENT_SECRET=xxx
EBRAINS_API_URL=https://wiki-int.ebrains.eu/rest/v1

NEXTCLOUD_VERSION=24.0.7-fpm
NEXTCLOUD_VIRTUAL_HOST=hip.local

# Used previously to build and launch the elasticsearch service
ELASTICSEARCH_VERSION=7.17.0

ELASTICSEARCH_URL=http://hip.local:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASSWORD='To be completed'
ELASTICSEARCH_USER_RO='To be completed'
ELASTICSEARCH_PASSWORD_RO='To be completed'
ELASTICSEARCH_USER_RW='To be completed'
ELASTICSEARCH_PASSWORD_RW='To be completed'
ELASTICSEARCH_BIDS_DATASETS_INDEX=bids_datasets

GL_USER="Necessary to login to container registry if project is private"
GL_TOKEN="Necessary to login to container registry if project is private"
GL_REGISTRY=registry.hbp.link
BIDS_TOOLS_VERSION=1.0.0-dev.1
BIDS_TOOLS_IMAGE=hip/bids-tools

HIP_ADMIN=hipadmin

MATOMO_URL_BASE=https://stats.humanbrainproject.eu
MATOMO_SITE_ID=28

REDIS_HOST=127.0.0.1
POSTGRES_VERSION=13

DATA_USER=www-data
# BIDS_SCRIPTS=/home/user/frontend/bids-tools/scripts

GHOSTFS_VERSION=b97dd75
GHOSTFS_CERT=cert.pem
GHOSTFS_KEY=key.pem
