[submodule "hip"]
	path = hip
	url = git@github.com:HIP-infrastructure/hip
[submodule "gateway"]
	path = gateway
	url = git@github.com:HIP-infrastructure/gateway
[submodule "ghostfs"]
	path = ghostfs
	url = git@github.com:HIP-infrastructure/ghostfs.git
