https://{$HOSTNAME}

encode gzip zstd

#tls /etc/caddy/cert.pem /etc/caddy/key.pem

log {
	output file /var/log/nextcloud.log
	level DEBUG
}

handle /api/v1/* {
	reverse_proxy {$GATEWAY_REVERSE_PROXY}
}

# global nextcloud config
root * /var/www/html
file_server
php_fastcgi /* 127.0.0.1:9000

header {
	# enable HSTS
	Strict-Transport-Security max-age=31536000;
}

redir /.well-known/carddav /remote.php/dav 301
redir /.well-known/caldav /remote.php/dav 301

# ghostfs
redir /fs /fs/
route /fs/* {
	uri strip_prefix /fs
	reverse_proxy localhost:3446 {
		health_uri /ok
		health_interval 10s

		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
	}
}

# .htaccess / data / config / ... shouldn't be accessible from outside
@forbidden {
	path /.htaccess
	path /data/*
	path /config/*
	path /db_structure
	path /.xml
	path /README
	path /3rdparty/*
	path /lib/*
	path /templates/*
	path /occ
	path /console.php
}

respond @forbidden 404
